/*=============GOOGLE FONTS================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap");

/*=============VARIABLES=================*/

:root {
    --header-height: 4rem;
    /*===========COLOR=============*/
    --first-color: rgb(20, 19, 19);
    --first-color-alt: rgb(65, 57, 57);
    --subtitle-color: rgb(134, 108, 77);
    --text-color: rgb(20, 19, 19);
    --text-color-light: white;
    --body-color: white;
    --container-color: rgb(247, 239, 239);
    /*=============FONTS AND TYPOGRAPHY==========*/
    --body-font: 'Poppins', "Sans serif";
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.875rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*============= FONT WEIGHT============*/
    --font-medium: 800;
    --font-semi-bold: 700;
    /*==============MARGINS==============*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --header-height: 5rem;
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
    }
}


/*============ BASE ============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: var(--body-font);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--first-color);
}


/*=============LAYOUT==============*/

.grid {
    display: grid;
    gap: 2rem;
}

.bd-container {
    margin-right: 0;
    /*width: calc(100% - 2rem);*/
    padding-left: 5%;
    padding-right: 5%;
    /*position:relative;*/
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: none;
}

.section-subtitle {
    font-size: var(--normal-font-size);
    color: var(--subtitle-color);
    font-weight: var(--font-semi-bold);
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}


/*============NAV=============*/

.nav {
    padding: 0 5%;
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        width: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        flex: 1;
        text-align: center;
        border-radius: 0 0 0.5px 0.5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        z-index: var(--z-fixed);
        background-color: var(--body-color);
        transition: 0.5s;
    }
}

.nav__logo {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.nav__logo:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: white
}

.nav__toggle:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav__item {
    padding-top: var(--mb-2);
    padding-bottom: var(--mb-2);
}

.show-menu {
    top: var(--header-height);
    background-color: rgba(255, 255, 255, 0.45);
}

.nav__link {
    color: var(--first-color);
}

.nav__link:hover #li {
    background-color: rgba(248, 247, 247, 0.35);
}

.scroll__nav {
    transition: 0.35s;
    background-color: white;
    color: var(--first-color);
    box-shadow: 0 1px 2px rgb(233, 228, 228);
}

.scroll__text {
    color: var(--first-color);
}


/*==============BUTTON============*/

.button {
    border: 1px solid white;
    color: var(--first-color);
    background-color: white;
    padding: var(--mb-1) var(--mb-3);
    display: inline-block;
    text-align: center;
    font-size: var(--normal-font-size);
    box-sizing: border-box;
}

.button:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4);
}


/*==============HOME==============*/

.home {
    position: relative;
    top: - var(--header-height);
    left: 0;
    height: 60vh;
    z-index: -1;
}

.home__container {
    position: relative;
    padding-top: var(--header-height);
}

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.home__button {
    margin-top: var(--mb-5);
    color: white;
    display: block;
}

.home__button:hover {
    text-decoration: underline white;
}

.home__subtitle {
    margin-bottom: var(--mb-4);
}

.home__title {
    font-weight: 100;
    font-size: var(--biggest-font-size);
    color: white;
    letter-spacing: 2px;
    margin-bottom: var(--mb-6);
}


/*====================CHEF===============*/

.chef {
    position: relative;
    width: 100%;
    background-color: var(--container-color);
    padding: 5rem 0;
}

.chef__img {
    width: 350px;
    justify-self: center;
}

.chef__data {
    justify-self: center;
}

.chef__subtitle {
    margin-bottom: var(--mb-2);
}

.chef__title {
    margin-bottom: var(--mb-3);
}

.chef__description {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    line-height: 2;
}


/*==============MENU============*/

.menu {
    position: relative;
    margin: 5rem 0;
}

.menu__title {
    text-align: center;
    margin-bottom: var(--mb-5);
}

.menu-title {
    margin-bottom: var(--mb-3);
}

.menu__title-description {
    font-size: var(--normal-font-size);
}

.menu__detail {
    margin: var(--mb-2) 0;
}

.dinner__name {
    font-size: var(--h3-font-size);
    margin: var(--mb-4) 0 var(--mb-3);
}

.dinner__description {
    font-size: var(--small-font-size);
}

.menu__more {
    display: block;
    color: var(--subtitle-color);
    font-size: var(--normal-font-size);
    margin: var(--mb-4) 0;
}

.menu__more:hover {
    text-decoration: underline;
}

.small__img {
    display: none;
}

.maindish {
    width: 350px;
}

.main__img {
    text-align: center;
}


/*============RESERVE================*/

.reserve {
    position: relative;
    margin-bottom: 5rem;
    height: 60vh;
}

.reserve__container {
    padding-top: var(--mb-4);
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.reserve__subtitle {
    margin-bottom: var(--mb-5);
}

.reserve__title {
    color: white;
    letter-spacing: 2px;
}

.reserve__button {
    margin-top: 8rem;
    margin-bottom: var(--mb-5);
}

.reserve__description {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    font-weight: 200;
}

.reserve__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 60vh;
    width: 100%;
    object-fit: cover;
}


/*==============FARM==========*/

.farm {
    margin-bottom: 5rem;
}

.farm__container {
    display: grid;
    row-gap: 2rem;
}

.farm__data {
    text-align: center;
}

.farm__data-subtitle {
    margin-bottom: var(--mb-2);
}

.farm__data-title {
    margin-bottom: var(--mb-3);
}

.farm__description {
    columns: var(--first-color);
    font-size: var(--normal-font-size);
    line-height: 2;
}

.farm__img-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 20vh);
    row-gap: 3px;
    column-gap: 3px;
}

.farm__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.farm__img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.farm__img2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.farm__img3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.farm__img4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.farm__img5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


/*===================FOOTER===========*/

.l-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: var(--container-color);
}

.footer {
    width: 100%;
}

.footer__data {
    margin: 0 5%;
}

.footer__container {
    margin: var(--mb-4) 0;
}

.footer__logo {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
    font-size: var(--h3-font-size);
}

.footer__logo:hover {
    color: rgba(0, 0, 0, 0.5)
}

.footer__description {
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    font-style: italic;
    margin-bottom: var(--mb-3);
}

.footer__address,
.footer__phone,
.footer__mail {
    color: var(--first-color);
    font-size: var(--small-font-size);
    line-height: 2;
}

.footer__detail i {
    font-size: var(--h3-font-size);
}

.footer__copy {
    color: rgba(0, 0, 0, 0.5);
    font-size: var(--smaller-font-size);
    font-style: italic;
    text-align: center;
    margin: var(--mb-3) 0;
}

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        flex: 1;
        text-align: right;
    }
    .nav__item {
        padding: 0;
        display: inline-block;
        margin: 0 var(--mb-2);
    }
    .nav__item:hover {
        text-decoration: underline;
    }
    .nav__link {
        font-weight: 200;
        color: white;
    }
    .home {
        height: 95vh;
    }
    .home__img {
        height: 95vh;
    }
    .home__container {
        padding-top: calc(var(--header-height) + 4rem);
    }
    .chef {
        padding: 8rem 0;
    }
    .chef__img {
        width: 400px;
    }
    .chef__container,
    .menu__container,
    .menu__data {
        row-gap: 5rem;
    }
    .menu {
        margin: 8rem 0;
    }
    .dinner__menu {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
    .maindish {
        width: 400px;
    }
    .reserve {
        height: 95vh;
        margin-bottom: 8rem;
    }
    .reserve__img {
        height: 95vh;
    }
    .reserve__button {
        margin: 0;
    }
    .reserve__container {
        height: 95vh;
        justify-content: center;
        padding-top: 0;
    }
    .reserve__title {
        margin-bottom: var(--mb-5);
    }
    .reserve__button {
        margin-bottom: var(--mb-3);
    }
    .farm {
        margin-bottom: 8rem;
    }
    .farm__container {
        row-gap: 5rem;
    }
    .farm__img-wrapper {
        grid-template-rows: repeat(3, 30vh);
    }
}

@media screen and (min-width:1024px) {
    .bd-container {
        padding: 0 10%;
        margin-right: 0;
    }
    .nav__logo {
        font-size: var(--h1-font-size);
        font-weight: 600;
    }
    .nav__item {
        margin: 0 var(--mb-3);
    }
    .home__container {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home__subtitle {
        margin-bottom: var(--mb-1);
    }
    .home__title {
        margin-bottom: var(--mb-3);
    }
    .home__title:hover {
        color: black;
    }
    .chef__container {
        grid-template-columns: 1fr 1.5fr;
        column-gap: 5rem;
    }
    .chef__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu__data {
        grid-template-rows: 1fr 1fr;
        row-gap: 5rem;
    }
    .dinner__menu {
        grid-template-columns: 1fr 2.5fr;
        column-gap: 4rem;
    }
    .menu__img1 {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        column-gap: 1.5rem;
    }
    .menu__img2 {
        display: grid;
        grid-template-columns: 1fr 0.35fr;
        column-gap: 1.5rem;
    }
    .small__img {
        display: block;
    }
    .maindish {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .smalldish {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer__logo {
        font-size: var(--h2-font-size);
    }
    .footer__description {
        font-size: var(--normal-font-size);
    }
    .footer__address,
    .footer__phone,
    .footer__mail {
        font-size: var(--normal-font-size);
    }
}